/*HEADER*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f5f0;
}

header {
    background-color: #88b990;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
}

h1 {
    width: 200px;
    height: auto;
}

ul {
    display: flex;
    gap: 2vw;
    align-items: center;
}

a {
    color: #f7f5f0;
    font-weight: bold;
    font-size: 1.4rem;
}

.atual {
    background-color: #cc6e3a;
    padding: 10px 20px;
    border-radius: 20px;
}

/*MAIN*/

.banner {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 40px;
    border-radius: 0 0 15vw 15vw;
    margin: 1vw;
}

.banner div img {
    width: 25vw;
    height: auto;
    border-radius: 15vw 15vw 0 0
}

.banner div h2 {
    font-size: 5rem;
    color: #4a7c59;
    font-weight: bold;
}

.primeira {
    padding: 3vw 7vw;
}

.primeira h3 {
    font-size: 3.5rem;
    color: #4a7c59;
    font-weight: bold;
    padding: 0 0 3vw 0;
    text-align: center;
}

.primeira p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: justify;
}

.hidratacao {
     display: flex;
     align-items: center;
    margin: 3vw 10vw;
}
.tituloHidratacao hr{
    border-top: 15px solid #88b990;
    border-radius: 5px;
    margin: 2vw 9vw;
    width: 60%;
}
.hidratacao img {
    width: 950px;
    height: auto;
    border-radius: 1vw;

}

.hidratacao  h3 {
    font-size: 3.9rem;
    color: #4a7c59;
    font-weight: bold;
    padding: 0 0 2vw 0;
    margin: 0vw 9vw;
    width: 40%;
}

.segunda div p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: justify;
    padding: 3vw 7vw;
}
.imgAdolecentes{
    display: flex;
    justify-content: center;
}
.terceira img {
    width: 70%;
    height: auto;
    border-radius: 7vw;
}

.terceira h3{
    font-size: 3.5rem;
    color: #4a7c59;
    font-weight: bold;
    padding: 3vw 0 4vw 0;
    text-align: center;
}

.terceira p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: justify;
    padding: 0 7vw 3vw 7vw;
}


.adolescencia {
    display: flex;
    justify-content: space-between;
    margin: 3vw 7vw;
    align-items: center;
}

.adolescencia img {
    width: 100vw;
    height: auto;
    border-radius: 1vw;
}

.adolescencia p {
    font-size: 1.5rem;
    color: #5a4634;
    line-height: 2.5rem;
    text-align: justify;
    padding: 0 3vw;
}

/*FOOTER*/

footer {
    background-color: #88b990;
    padding: 2vw 5vw;
    text-align: center;
    color: #f7f5f0;
    font-weight: bold;
}

footer .redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .redes svg {
    width: 4vw;
    height: auto;
    margin-bottom: 1vw;
}

footer .rodape {
    display: flex;
    justify-content: space-between;
    padding: 3vw 0 0 0;
}

@media only screen and (max-width: 600px){

    .banner div h2 {
    font-size: 1.5rem;
    width: 90%;
    }
    .banner {
    display: flex;
    padding: 20px 0px;
    margin-left: 6vw;
    }
    .banner div img {
    width: 100px;
    height: auto;
    }
    .primeira h3 {
    font-size: 1.5rem;
    }
    .primeira p {
    font-size: 1.1rem;
    line-height: 30px;
    }
    .hidratacao {
    display: block;
    margin: 3vw 7vw;
    }
    .terceira{
        margin: 3vw 7vw;
    }
    .hidratacao h3, .terceira h3{
    font-size: 1.5rem;
    padding: 0 0 2vw 0;
    text-align: center;
    margin: 0;
    width: 99%;
    }

}